
// Синий, голубой
$blue_70: #065c83;
$blue_60: #166289;
$blue_50: #216990;
$blue_40: #2a6f97; // Основной цвет
$blue_30: #33759e;
$blue_20: #3b7ca5;
$blue_10: #4283ac;

// Красный
$red_70: #7d2a24;
$red_60: #833029;
$red_50: #89352d;
$red_40: #8f3a32;
$red_30: #953f37;
$red_20: #9b443b;
$red_10: #a14a40;

// Зеленый
$green_70: #00a000;
$green_60: #00ab00;
$green_50: #00b600;
$green_40: #00c102;
$green_30: #25cc1a;
$green_20: #39d82a;
$green_10: #49e337;

// Серый
$grey_100: #232323;
$grey_90: #323232;
$grey_80: #414141;
$grey_70: #515151;
$grey_60: #616161;
$grey_50: #797979;
$grey_40: #797979;
$grey_30: #939393;
$grey_20: #adadad;
$grey_10: #c7c7c7;

$black: #000000;
$white: #ffffff;

// Цвета для текстов
$text_primary_color: $grey_70;
$text_secondary_color: $grey_40;

$disabledText: $grey_30;
$disabledBackground: #fcf8f7;